@font-face {
    font-family: "BetterFont";
    src: url(styles/RetroscapeIiRegular-KRv7.ttf);
}


/*------- Reset "User Agent Stylesheets" format + anti-copy text + background format -------*/

:root {
    --height-header-img: 128px;
    --white-color: #FDFDFD;
    --black-color: #020202;
    --second-bg-margin: 8%;
}

* {
    padding: 0; 
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

ul {
    margin: auto;
    padding: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.second-bg{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-inline: var(--second-bg-margin);
    border-radius: 10px;
}

.first{
    margin-top: 2% !important;
}

.second-bg.second{
    padding-bottom: 5%;
    padding-top: 5%;
    margin-bottom: 2% !important;
}


/*--- SCROLLBAR STYLE ---*/

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}


/*------- Menu options and Header format + font + animation -------*/

.header {
    display: flex;
    justify-content: center;
    position: relative;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 30px;
    transition: 0.4s all ease;
    width: 80%;
}

.header a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -6px;
    left: 0;
    transition-timing-function: ease-out;
    transition: transform 0.5s;
    transform-origin: bottom right;
}

.header p{
    font-size: 30px;
    font-family: "League Spartan";
    font-weight: 500;
}

.header a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header a {
    font-size: 30px;
    transition: 0.5s ease;
    font-family: "League Spartan";
    font-weight: 500;
    position: relative;
    transition-duration: 0.4s;
    transition-timing-function: all ease;
}

.header img {
    height: var(--height-header-img);
    width: var(--height-header-img);
    border-radius: 50%;
    transition: 0.5s ease;
}

/*-------Menu items position-------*/

.header li {
    display: inline-block;
    margin-right: 3%;
}

.header li:first-child {
    position: absolute;
    right: 2%;
    margin-right: 0%;
}

/*-------Settings animation and position-------*/

.settings {
    display: inline-block;
    cursor: pointer;
}

.settings-bar1, .settings-bar2, .settings-bar3 {
    width: 35px;
    height: 5px;
    margin-block: 6px;
    transition: 0.5s;
}
  
.change .settings-bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .settings-bar2 {
    opacity: 0;
}

.change .settings-bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/*-------Settings menu-------*/
.settings-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s ease-out;

    padding: 0;
}

.settings-menu.is-open {
    grid-template-rows: 1fr;
    padding-block: 20px;
}

.settings-menu ul {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.settings-menu ul li {
    margin-inline: 20px;
}

.settings-menu label {
    font-size: 25px;
    font-family: "League Spartan";
    font-weight: 500;
}

select {
    border-radius: 5px;
    appearance: none;
    padding: 5px 10px;
    margin-left: 10px;
    background-size: 12px;
    font-size: 15px;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}


.settings-menu button{
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}

/*-------Retro slice font + some other addons -------*/

.better-font{
    font-family: "BetterFont", "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.better-font.title{
    font-size: 23px;
    font-weight: 500;
}

.desc {
    text-align: left;
}


/*-------Description position + how displayed -------*/

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    width: 90%;
}

.left {
    flex: 1;
    min-width: 400px;
    text-align: left;
}

.left img {
    width: 75%;
    height: 95%;
    border-radius: 10%;
}

.right {
    flex: 3;
}

.right a {
    text-decoration: underline;
}

.right #typing-text{
    position: relative;
    transition-duration: 0.4s;
}

.right #cursor{
    position: relative;
    display: inline-block;
    width: 2px;
    height: 20px;
    right: -2px;
}

#myage{
    position: relative;
}

.popup {
    visibility: visible;
    width: 2000%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -1000%;
}

/*-------BOX-------*/

.box-container {
    margin-top: 5%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1em;
    row-gap: 1em;
}

.box {
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    padding: 1%;
}

.box .desc{
    flex-grow: 1;
}

.small-box{
    flex: 0.05;
    min-width: 100px;
}


.medium-box{
    flex: 0.2;
    min-width: 250px;
}

.big-box{
    flex: 0.35;
}

/*-------Skills format-------*/
#skills {
    margin-top: 5%;
    text-align: center;
    margin-inline: auto;
    width: 90%;
}

#skills .box img{
    max-width: 90px;
    max-height: 90px;
}

#skills .desc a{
    text-decoration: underline;
}


/*-------Project format-------*/

#projects {
    margin-top: 5%;
    text-align: center;
    margin-inline: auto;
    width: 90%;
}

#projects .desc{
    padding-left: 10px;
}

#projects .box img{
    margin-top: 3%;
    width: 375px;
    height: 210px;
    border-radius: 8%;
}


/*-------Links format-------*/

#links {
    margin-top: 5%;
    text-align: center;
    margin-inline: auto;
    width: 90%;
}

#links .box-container {
    column-gap: 2em;
}

/*-------Animation for imgs + padding for icon links-------*/

#links .box img{
    width: 70px;
    height: 70px;
    transition: transform 0.5s;
}

#links .box img:hover {
    transform: scale(1.1);
}

.block-display {
    display: none;
}