@font-face {
    font-family: RetroFont;
    src: url(RetroscapeIiRegular-KRv7.ttf);
}

/*------- Reset "User Agent Stylesheet" format + anti-copy text + background format -------*/

:root {
    --left-width: 25%;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background:rgb(39, 54, 75) ; /*#def2f1*/
    background-size: cover;
    background-repeat: no-repeat;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
}

/*
    --- SCROLLBAR STYLE ---
*/

ul {
    margin: auto;
    padding: 0;
    /* Reset "User Agent Stylesheet" */
}

.second-bg{
    background: linear-gradient(270deg, #3aafa9, #0a4749); /*#3aafa9*/
    margin: 100px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
    border: 5px solid #0d5f78;
}

.second-bg:first-of-type{
    margin-top: 20px;
}

.second-bg:nth-of-type(2){
    margin-bottom: 20px !important;
}

/*------- Menu options and Header format + font + animation -------*/
.header ul {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: table;
    transition: 0.4s all ease;
}

.header li {
    /* All the items */
    list-style-type: none;
    float: left;
    display: table-cell;
}

.header li:first-of-type {
    margin-bottom: -4px;
} 

.header a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -3px;
    left: 0px;
    background-color: rgb(67, 240, 145);
    transition-timing-function: ease-out;
    transition: transform 0.5s;
    transform-origin: bottom right;
}
  
.header a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header a {
    /* only text */
    font-size: 30px;
    color: #34e718;
    transition: 0.5s ease;
    font-family: "League Spartan" !important;
    font-weight: 500 !important;
    position: relative;
    transition-duration: 0.4s;
    transition-timing-function: all ease;
}


.header img {
    /* only img */
    margin-right: 50px;
    margin-left: 25px;
    border-radius: 50%;
    border: 3px solid #34e718;
    transition: 0.5s ease;
}

.header a:hover,
.header img:hover {
    font-size: 30px;
    color: #c0ffb5;
    border-color: #c0ffb5;
}


/*-------Menu items position-------*/

.header li:nth-child(2),
.header li:nth-child(3),
.header li:nth-child(4),
.header li:nth-child(5){
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 20px;
}

.header li:nth-child(6) {
    margin-top: 50px;
    margin-left: 20px;
}


/*-------Description position + how displayed -------*/

.description {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    color: #202020;
}

.left {
    max-width: var(--left-width);
    min-width: 400px;
    text-align: left;
    text-align: center;
}

.left img {
    border-radius: 10%;
    border: 2px solid #FFF;
}

.right {
    min-width: calc(50% - var(--left-width));
    width: calc(75% - var(--left-width));
}

.right .myname{
    font-weight: 600;
    font-size: 23px;
    font-family: RetroFont;
}

.right #typing-text{
    font-family: "VT323", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}


/*--- ----*/

.skills {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}


/*-------Project format-------*/

.projects {
    padding-top: 5%;
}

.projects ul {
    list-style-type: none;
    text-align: center;
}

.projects ul li {
    width: 30%;
    margin: 2%;
    padding: 1%;
    padding-bottom: 4%;
    padding-top: 2%;
    border-radius: 5%;
    border: 3px solid black;
    background-color: #51b5dd;
    text-align: center;
    display: inline-block;
}

.projects ul li a {
    color: #000;
    text-decoration: none;
}

.projects ul .server-minecraft img{
    border-radius: 8%;
    border: 3px solid black;
    width: 80%;
    height: 65%;
}


/*-------Links format-------*/

.links {
    padding-top: 5%;
}

.links ul {
    list-style-type: none;
    text-align: center;
}

.links ul li {
    margin: 2%;
    padding: 2%;
    border-radius: 8%;
    border: 3px solid black;
    background-color: #4799b9;
    text-align: center;
    display: inline-block;
}

/*-------Animation for imgs + padding for icon links-------*/

.links ul li a {
    color: #000;
}

.links ul .discord img {
    transition: transform 0.5s;
}

.links ul .discord img:hover {
    transform: scale(1.1);
}

.links ul .github img {
    transition: transform 0.5s;
}

.links ul .github img:hover {
    transform: scale(1.1);
}




.block-display {
    display: none;
}

@media screen and (max-width: 970px) {
    body > *:not(.block-display) {
        display: none !important;
    }

    .block-display {
        display: block !important;
        text-align: center;
        padding: 20px;
    }

    .block-display h1 {
        color: black;
        text-shadow: 2px 0 white, -2px 0 white, 0 2px white, 0 -2px white, 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
        font-size: 50px;
    }

    .block-display p {
        color: black;
        text-shadow: 2px 0 white, -2px 0 white, 0 2px white, 0 -2px white, 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
        font-size: 30px;
    }
}