@font-face {
    font-family: RetroFont;
    src: url(RetroscapeIiRegular-KRv7.ttf);
}

/*------- Reset "User Agent Stylesheet" format + anti-copy text + background format -------*/

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(180deg, #28b5b8, #014244);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
}

ul {
    margin: auto;
    padding: 0;
    /* Reset "User Agent Stylesheet" */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-color: #34e718;
    border-style: solid;
    border-right: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-color: #34e718;
    border-style: solid;
    border-right: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-color: #34e718;
    border-style: solid;
    border-right: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/*------- Menu options and Header format + font + animation -------*/

.header {
    padding-top: 25px;
}

.header ul {
    width: 100%;
    display: table;
}

.header ul li {
    /* All the items */
    list-style-type: none;
    float: left;
    display: table-cell;
}


.header ul li:not(.menu2) a {
    /* only text */
    margin-top: 50px;
    font-size: 30px;
    color: #34e718;
    transition: 0.5s ease;
    font-family: "League Spartan" !important;
    font-weight: 500 !important;
}


.header ul li img {
    /* only img */
    margin-left: 25px;
    border-radius: 50%;
    border: 3px solid #34e718;
    transition: 0.5s ease;
}



.header ul li:not(.menu2):hover a,
.header ul li img:hover {
    font-size: 30px;
    color: #c0ffb5;
    border-color: #c0ffb5;
}


/*-------Menu items position-------*/

.menu1 {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 20px;
}

.menu2 {
    margin-right: 50px;
}

.menu3 {
    margin-top: 50px;
    margin-left: 20px;
}


/*-------Description position + how displayed -------*/

.description {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    color: #202020;
}

.left {
    padding-left: 10%;
    width: 50%;
    text-align: left;
    align-self: center;
}

.right {
    width: 40%;
    text-align: center;
}

.myname{
    font-weight: 500;
    font-size: 25px;
    font-family: RetroFont;
}

.left .fixed-text {
    align-items: baseline;
}

.left #typing-text{
    font-family: "VT323", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}


/*--- ----*/

.skills {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}


/*-------Project format-------*/

.projects {
    padding-top: 5%;
}

.projects ul {
    list-style-type: none;
    text-align: center;
}

.projects ul li {
    width: 30%;
    margin: 2%;
    padding: 1%;
    padding-bottom: 4%;
    padding-top: 2%;
    border-radius: 5%;
    border: 3px solid black;
    background-color: #51b5dd;
    text-align: center;
    display: inline-block;
}

.projects ul li a {
    color: #000;
    text-decoration: none;
}

.projects ul .server-minecraft img{
    border-radius: 8%;
    border: 3px solid black;
    width: 80%;
    height: 65%;
}


/*-------Links format-------*/

.links {
    padding-top: 5%;
}

.links ul {
    list-style-type: none;
    text-align: center;
}

.links ul li {
    margin: 2%;
    padding: 2%;
    border-radius: 8%;
    border: 3px solid black;
    background-color: #4799b9;
    text-align: center;
    display: inline-block;
}

/*-------Animation for imgs + padding for icon links-------*/

.links ul li a {
    color: #000;
}

.links ul .discord img {
    transition: transform 0.5s;
}

.links ul .discord img:hover {
    transform: scale(1.1);
}

.links ul .github img {
    transition: transform 0.5s;
}

.links ul .github img:hover {
    transform: scale(1.1);
}
