body {
    margin: 0px;
}

.header, a {
    font-size: 25px;
}

.header {
    position: sticky;
    width: 100%;
}

.header, .menu1 {
    background: #8801a3;
    list-style-type: none;
    text-decoration: none;
    float: left;
    display: block;
    padding-right: 50px;
    padding-left: 20px;
    padding-top: 30px;

}

.header ul li img {
    margin-bottom: 50px;
    margin-top: -50px;
    border-radius: 50%;
    border-style: solid;
    border-color: #000;
}